.ingredient-list-text{
    display:flex;
    flex-direction: row;
    justify-content: space-between;  
}

.ingredient-list-text span{
  float: right;
  font-family: 'Courgette', cursive;
}
.ing-div {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courgette', cursive;
}
.ing-div:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.089);
}
.ing-div section {
    padding: 4px;
}
.ing-div h4{
    font-size: 22px;

}